li {
  list-style: none;
}

img {
  width: 100px;
  height: auto;
}
.nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;

  cursor: pointer;
}

.nav ul {
  display: flex;
  gap: 20px;
}